Repository cultuurnet/projectaanvraag-silex, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LucWollants, @JonasVHG, @grubolsch, @willaerk, @vincentjanv

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @LucWollants @JonasVHG @grubolsch

# Jenkins / deployment owners
Gemfile* @willaerk @vincentjanv
Jenkinsfile @willaerk @vincentjanv
Rakefile @willaerk @vincentjanv
lib/ @willaerk @vincentjanv

Update docker config.sh to allow not updating /etc/hosts
  docker/config.sh
Owners: @LucWollants, @JonasVHG, @grubolsch

Use docker compose commands in Makefile and adapt for use in CI
  Makefile
Owners: @LucWollants, @JonasVHG, @grubolsch

Add FillClients Command
  src/Console/Command/FillClientIds.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Register FillClientsIds
  app/ConsoleApplication.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Changes for extra projectaanvraag container in publiq-platform acceptance tests
  Makefile
  docker-compose.yml
  docker/config.sh
Owners: @LucWollants, @JonasVHG, @grubolsch

Add empty cache directory to repository
  .gitignore
  cache/.gitignore
Owners: @LucWollants, @JonasVHG, @grubolsch

Allow creating a widget without v1 stuff
  src/Entity/Project.php
  src/Entity/ProjectInterface.php
  src/Project/Command/ImportProject.php
  src/Project/CommandHandler/ImportProjectCommandHandler.php
  src/Project/Controller/ImportProjectController.php
  test/Project/CommandHandler/ImportProjectCommandHandlerTest.php
  test/Project/Controller/ImportProjectControllerTest.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Allow creating a widget without v1 stuff
  src/Project/Controller/ImportProjectController.php
  test/Project/Controller/ImportProjectControllerTest.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add BOA event types
  locales/eventtype/de.yml
  locales/eventtype/en.yml
  locales/eventtype/fr.yml
  locales/eventtype/nl.yml
Owners: @LucWollants, @JonasVHG, @grubolsch

Update package searchv-3
  composer.json
  composer.lock
  docker/php/Dockerfile
  lib/SimpleBus/JMSSerializerBridge/JMSSerializerObjectSerializer.php
  lib/SimpleBus/JMSSerializerBridge/README.md
  lib/SimpleBus/JMSSerializerBridge/SerializerMetadata.php
  lib/SimpleBus/JMSSerializerBridge/metadata/Envelope.DefaultEnvelope.yml
Owners: @LucWollants, @JonasVHG, @grubolsch, @willaerk, @vincentjanv

linting
  lib/SimpleBus/JMSSerializerBridge/SerializerMetadata.php
Owners: @willaerk, @vincentjanv

linting
  lib/SimpleBus/JMSSerializerBridge/JMSSerializerObjectSerializer.php
Owners: @willaerk, @vincentjanv

update to latest version
  composer.lock
Owners: @LucWollants, @JonasVHG, @grubolsch

Add translations
  locales/de.yml
  locales/en.yml
  locales/fr.yml
  locales/nl.yml
Owners: @LucWollants, @JonasVHG, @grubolsch

Add faq styling
  web/assets/css/cn_widget_styling.css
Owners: @LucWollants, @JonasVHG, @grubolsch

Add faq to detail page html
  views/widgets/search-results-widget/detail-page.html.twig
Owners: @LucWollants, @JonasVHG, @grubolsch

Add faq to SearchResults
  src/Widget/WidgetType/SearchResults.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add faq data to the event detail variables
  src/Widget/Twig/TwigPreprocessor.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Use faqs
  src/Widget/Twig/TwigPreprocessor.php
  views/widgets/search-results-widget/detail-page.html.twig
  web/assets/css/cn_widget_styling.css
Owners: @LucWollants, @JonasVHG, @grubolsch

unify ?string instead of mixture with string|null
  src/Entity/Project.php
Owners: @LucWollants, @JonasVHG, @grubolsch

rename testHandleNewImportWithoutApiKeys() to testHandleCreateImportWithoutApiKeys()
  test/Project/CommandHandler/ImportProjectCommandHandlerTest.php
Owners: @LucWollants, @JonasVHG, @grubolsch

use package version instead of branch
  composer.json
  composer.lock
Owners: @LucWollants, @JonasVHG, @grubolsch

update composer to match server & fix ci
  .github/workflows/ci.yml
Owners: @LucWollants, @JonasVHG, @grubolsch

Use calsum xl on the detail page
  src/Widget/Twig/TwigPreprocessor.php
  src/Widget/WidgetType/SearchResults.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Replace the vlieg sticker with the 2026 logo
  web/assets/images/vlieg--sticker-yellow.svg
  widgets-static/app/images/vlieg--sticker-yellow.svg
Owners: @LucWollants, @JonasVHG, @grubolsch

Show the minimum age next to the logo
  web/assets/css/cn_widget_styling.css
  widgets-static/app/styles/01_components/_search-result.scss
Owners: @LucWollants, @JonasVHG, @grubolsch

Hide the age label for 0+ events
  views/widgets/event-summary.html.twig
  views/widgets/search-results-widget/detail-page.html.twig
Owners: @LucWollants, @JonasVHG, @grubolsch

Move the stickers next to the title
  views/widgets/event-summary.html.twig
  views/widgets/search-results-widget/detail-page.html.twig
Owners: @LucWollants, @JonasVHG, @grubolsch

Rename Faq
  src/Widget/Twig/TwigPreprocessor.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Show the stickers under the title on mobile
  web/assets/css/cn_widget_styling.css
  widgets-static/app/styles/01_components/_detail-page.scss
  widgets-static/app/styles/01_components/_search-result.scss
Owners: @LucWollants, @JonasVHG, @grubolsch

Add translations
  locales/de.yml
  locales/en.yml
  locales/fr.yml
  locales/nl.yml
Owners: @LucWollants, @JonasVHG, @grubolsch

Add children only to SearchResults
  src/Widget/WidgetType/SearchResults.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add children only to Tips
  src/Widget/WidgetType/Tips.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add children only data
  src/Widget/Twig/TwigPreprocessor.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add children only badge
  views/widgets/event-summary.html.twig
  views/widgets/search-results-widget/detail-page.html.twig
Owners: @LucWollants, @JonasVHG, @grubolsch

Add the age filter to the search form
  views/widgets/search-form-widget/age-filter.html.twig
  views/widgets/search-form-widget/search-form-widget.html.twig
Owners: @LucWollants, @JonasVHG, @grubolsch

Add age filter behavior
  web/assets/js/widgets/search-form/age-filter.js
Owners: @LucWollants, @JonasVHG, @grubolsch

Add the age filter query
  src/Widget/WidgetType/SearchForm.php
Owners: @LucWollants, @JonasVHG, @grubolsch

Add age filter styling
  web/assets/css/cn_widget_styling.css
  widgets-static/app/styles/01_components/_search-field.scss
Owners: @LucWollants, @JonasVHG, @grubolsch

Add translations
  locales/de.yml
  locales/en.yml
  locales/fr.yml
  locales/nl.yml
Owners: @LucWollants, @JonasVHG, @grubolsch
